<div class="auth-container">
    <div class="auth-acording">
        <h2>Entrar</h2>
        <form action="/login" method="post" class="container-acording">
            <div>
                <label for="username">Usuário</label>
                <input type="text" name="username" placeholder="Digite o seu usuário" autocomplete="off">
            </div>
            <div>
                <label for="password">Senha</label>
                <input type="password" name="password" placeholder="Digite sua senha" autocomplete="off">
            </div>
            <input type="submit" value="Entrar" class="btn-entrar">
            <p>não tem conta? <a href="/register">Clique aqui</a></p>
        </form>
    </div>
</div>




