<div class="home-container">
    <header>
        <h1>Bem-vindo ao nosso software de contabilidade de empresas</h1>
        <p>Comece a gerenciar seus ativos empresariais com nosso software intuitivo e fácil de usar. Registre suas empresas e faça entradas contábeis com facilidade. Com nossos relatórios financeiros abrangentes, você terá controle total sobre o desempenho de suas empresas. Teste agora mesmo!</p>
    </header>
    <main>
        <section class="registro-de-empresas">
            <div class="home-title-section">
                <h1>Registros de empresas</h1>
            </div>

            <div class="article-acording-1">
                <article>
                    <h2>Registre suas empresas</h2>
                    <p>
                        Cadastre suas empresas de maneira simples e rápida. Adicione os dados das empresas, informações financeiras e outros detalhes importantes.
                    </p>
                </article>
                <article>
                    <h2>Gerencie todas as suas empresas em um só lugar</h2>
                    <p>
                        Acesse todas as suas empresas em um só lugar. Edite, exclua ou adicione informações facilmente.
                    </p>
                </article>
                <article>
                    <h2>Personalize suas empresas</h2>
                    <p>
                        Crie campos de acordo com suas necessidades, para registrar informações exclusivas de cada empresa.
                    </p>
                </article>
            </div>
        </section>
        <section class="registro-de-ativos">
            <div class="home-title-section">
                <h1>Gestão de ativos</h1>
            </div>
            <div class="article-acording-2">
                <article>
                  <h2>Registre ativos</h2>
                  <ul>
                    <li>Regristre todos os ativos de suas empresas.</li>
                    <li>Escolha entre diferentes categorias de ativos.</li>
                    <li>Adicione informações exclusivas para cada ativo.</li>
                  </ul>
                </article>
                <article>
                  <h2>Gerencie ativos</h2>
                  <ul>
                    <li>Veja todos os ativos que você registrou para cada empresa.</li>
                    <li>Acesse informações detalhadas para cada ativo.</li>
                    <li>Edite, exclua ou adicione informações através do painel de gerenciamento.</li>
                  </ul>
                </article>
                <article>
                  <h2>Relatório de ativos</h2>
                  <ul>
                    <li>Gere relatórios de ativos para suas empresas.</li>
                    <li>Personalize seus relatórios de acordo com suas necessidades.</li>
                    <li>Exporte seus relatórios em diferentes formatos.</li>
                  </ul>
                </article>
            </div>
        </section>

        <section class="entradas-contabeis">
            <article>
                <h1>Entradas Contábeis</h1>
                <h2>Lançamentos contábeis</h2>
                <p>Adicione novos lançamentos contábeis com facilidade. Classifique-os em diferentes categorias e adicione informações adicionais, se necessário.</p>
                <img src="/img/rascunho-contabil.jpg" alt="rascunho contabil">
            </article>

            <article>
                <h2>Gerencie Lançamentos Contábeis</h2>
                <p>Adicione novos lançamentos contábeis com facilidade. Classifique-os em diferentes categorias e adicione informações adicionais, se necessário.</p>
                <img src="/img/balance.png" alt="">
            </article>
        </section>

        <section class="relatório-financeiro">
            <div>
                <h1>Relatórios financeiros</h1>
            </div>
            <div class="relatório-financeiro-acroding">
                <article>
                    <h2>Relatórios abrangentes</h2>
                    <p>Obtenha uma visão completa do desempenho financeiro de suas empresas com nossos relatórios abrangentes.</p>
                </article>
                <article>
                    <h2>Personalize seus relatórios</h2>
                    <p>Personalize seus relatórios de acordo com suas necessidades, escolhendo os dados e os gráficos que deseja incluir.</p>
                </article>
                <article>
                    <h2>Exporte seus relatórios</h2>
                    <p>Exporte seus relatórios em diferentes formatos, como PDF, Excel e CSV.</p>
                </article>
            </div>
        </section>

        
    </main>

    <footer>
       <div class="footer-acording">
             <section>
                <a href="#">Help</a>
                <a href="#">FAQ</a>
                <a href="#">Tutorials</a>
                <a href="#">Contact</a>
            </section>
            <section>
                <a href="#">Connect</a>
                <a href="#">Blog</a>
                <a href="#">Events</a>
                <a href="#"> Newsletter</a>
            </section>
            <section>
                <a href="#">Legal</a>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#  ">Refund</a>
            </section>
         </div>
        <div class="rodape">
            <p><span>Contabeis</span> &copy; 2023</p>
        </div>
    </footer>
    
</div>