<div class="companies-container">
    <div class="companies-added">
        <h2>Empresas Adicionadas</h2>
        <ul>
            {{#each companies}}
                <li>
                    <a href="/companies/company/{{this.id}}"><div class="name-company">{{this.title}}</div></a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>