<div class="companies-container">
    <div class="companies-added">
        <h2>Empresas Adicionadas</h2>
        <ul>
            {{#each companies}}
                <li>{{this.title}}</li>
            {{/each}}
        </ul>
    </div>
</div>