<div class="dashboard">
    <div class="title-container">
        <h2>Painel</h2>
        <div class="btns-painel">
            <div class="btn-create">
                <a href="/companies/add" class="btn">Adicionar Empresa</a>
            </div>
            <div class="btn-create">
                <a href="/companies/add" class="btn">Adicionar Empresa</a>
            </div>
        </div>
    </div>
</div>